html {
    background-image: url('69223109_2559735607404919_1575345385143009280_o.jpg');
    /*background-position: center center;
    background-repeat: no-repeat;*/
    background-size: cover;
}

body {
    margin: auto;
    margin-top: 5%;
}

img {
    width: 20px;
    height: 20px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    #calculadora {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5);
        height: 400px;
        width: 270px;
        margin: auto;
    }
}

#dis {
    margin: auto;
    width: 99.5%;
    border: 1px black solid;
}

input {
    width: 99%;
    line-height: 65px;
    font-size: 3em;
    text-align: right;
    background: transparent;
}

#btns {
    margin: auto;
    display: grid;
    justify-content: center;
    width: 25%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    text-align: center;
    user-select: none;
    line-height: 45px;
    padding: 5px;
    height: 20em;
    width: 10em;
}

button {
    background: rgba(245, 245, 245, 0.7);
    width: 64px;
    height: 60px;
    border: 1px solid white;
    font: 1em sans-serif;
}

button:hover {
    background: rgb(178, 178, 178);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    transition-duration: 0.3s;
    border: none;
}

button:focus {
    outline-style: none;
    box-shadow: 0px 0px 0px 2px red;
}

button:active {
    transform: scale(1.2);
}

.numbers {
    background: rgba(255, 255, 255, 1);
    font-weight: bold;
}

#equal {
    background: #1d8794
}

#equal:hover {
    background: #00d5f1;
}

#equal:focus{
    background: #00d5f1;
}

#git:hover {
    background-color: rgba(224, 13, 13, 0.979);
    transition-duration: 0.3;
}