html {
    background-image: url('69223109_2559735607404919_1575345385143009280_o.jpg');
    /*background-position: center center;*/
    background-repeat: repeat-y;
    background-size: cover;
}

body {
    margin: auto;
    margin-top: 15px;
}

img {
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
    color: #cc9543;
}

#odin {
    text-align: center;
    color: #cc9543;
}

#odin img {
    width: 40px;
    height: 40px;
}

#calculadora {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    height: 395px;
    width: 270px;
    margin: auto;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-shrink: 1;
    height: 60px;
    font-weight: 200;
    background-color: transparent;
}

#entry {
    width: 100%;
    margin-left: 5px;
    margin-right: 2px;
    border: 1px solid rgba(251, 173, 184, 0.5);
}

#display {
    width: 99%;
    text-align: right;
    font: 2em sans-serif;
    background: transparent;
    line-height: 50px;
}

#btns {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    padding: 5px;
    height: 19em;
}

button {
    background: #f5f5f5b3;
    width: 64px;
    height: 60px;
    border: 1px solid white;
    font: 1em sans-serif;
}

button:hover {
    background: rgb(178, 178, 178);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    transition-duration: 0.3s;
    border: none;
}

button:focus {
    outline-style: none;
    box-shadow: 0px 0px 0px 2px rgb(198, 139, 183);
}

button:active {
    transform: scale(1.2);
}

.numbers {
    background: rgba(255, 255, 255, 1);
    font-weight: bold;
}

#equal {
    background: #fecfb4;
}

#equal:hover {
    background: #fbadb8;
}

#equal:focus {
    background: #c688b9;
}

#git:hover {
    background-color: rgba(224, 13, 13, 0.979);
    transition-duration: 0.2;
}

#creator {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    transition-duration: 0.3;
}

.div-imagen {
    grid-column-start: 1;
    grid-column-end: 5;
}

.div-imagen div {
    position: absolute;
    z-index: -1;
    margin-left: 100px;
    color: #cc9543;
}

.div-imagen img {
    width: 100%;
}

.imgC:hover {
    opacity: 0;
    transition: opacity 500ms;
}